.new-icon {
    color: rgb(255, 255, 255);
    height: 20px;
    padding: 0px 8px;
    border-radius: 10px;
    background-color: rgb(254, 44, 85);
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 6px;
}
